@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: crimson;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    overflow-x: hidden;
}
#text{
    width: 400px;
    height: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 18pt;
    outline: none;
    border: none;
}
#text::placeholder{
    color: rgba(0,0,0,0.5);
    font-size:18px;
    text-transform: capitalize;
}
.list{
    width:500px;
    min-height:500px;
}
.mini{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0,0.5);
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
label{
    color: rgb(255,255,255);
    text-transform: capitalize;
    padding: 0 30px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
input[type="checkbox"]{
    accent-color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
input:checked+label{
    text-decoration:line-through;
}
.delete{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
span{
    width:30px;
    height:3px;
    display:inline-block;
    background:red;
    position:absolute;
    margin-top: 15px;
    margin-left: -5px;
    pointer-events: none;
}
span:nth-child(1){
    rotate:-50deg;
}
span:nth-child(2){
    rotate:50deg;
}
@media all and (max-width:420px) {
    #text,.list{
        width: 360px;
        font-size: 18pt;
    }
    label{
        font-size: 16px;
    }
}